<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <title>{{ config.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path="reset.css") }}">
  <link rel="stylesheet" href="{{ get_url(path="main.css") }}">
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false)}}">
  {% endblock %}
</head>

<body>
  {% include "site-header.html" %}
  <main class="main">{% block content %} {{ section.content | safe }} {% endblock content %}</main>
  {% include "site-footer.html" %}
</body>

</html>
