<li class="episode">
  <div class="episode__artwork">
    <img src="/images/logo.webp" alt="{{ episode.title }}">
  </div>
  <div class="episode__content">
    <div class="episode__info">
      <h3 class="episode__title">
      <a href="{{ episode.permalink }}">{{ episode.title }}</a>
    </h3>
    <p class="episode__description">{{ episode.description }}</p>
    <time class="episode__time">{{ episode.date | date(format="%Y年%m月%d日") }}</time>
  </div>
  <div class="episode__actions">
    <div class="episode__duration">
      <time class="episode__time">
          {% if episode.extra.duration %}
            {{ episode.extra.duration }} min
          {% endif %}
        </time>
    </div>
    <div class="episode__share">
      <a href="{{ episode.permalink }}" class="btn-share">分享</a>
    </div>
  </div>
</li>
