<header class="site-header">
  <div class="site-header__container">
    <h1 class="site-header__title">
      <a href="{{ config.base_url | safe }}" class="site-header__title-link">
        {{ config.title }}
      </a>
    </h1>
    <nav class="site-header__nav">
      <a href="#" class="site-header__listen-btn">
        <svg class="site-header__play-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 16 16">
          <path fill="currentColor" d="M4.4 15.14l10.386-6.096c.842-.459.794-1.64 0-2.097L4.401.85c-.87-.53-2-.12-2 .82v12.625c0 .966 1.06 1.4 2 .844z" />
        </svg>
        <span class="site-header__listen-text">立即收听</span>
      </a>
    </nav>
  </div>
</header>
