<header class="header">
  <div class="container">
    <h1>
      <a href="{{ config.base_url | safe }}">
        {{ config.title }}
      </a>
    </h1>
    <nav class="nav">
      <a href="#" class="listen-now">
        <svg class="play-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 16 16">
          <path d="M4.4 15.14l10.386-6.096c.842-.459.794-1.64 0-2.097L4.401.85c-.87-.53-2-.12-2 .82v12.625c0 .966 1.06 1.4 2 .844z" />
        </svg>
        <span>立即收听</span>
      </a>
    </nav>
  </div>
</header>
